<!--
  Generated template for the CafeMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar>
    <ion-title>MENU</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-card tappable no-padding no-margin class="card-list ">
    
        <div class="card-list-bg" [ngStyle]="{'background-image': 'url(' + cafe.images.menu+ ')'}">
          <h2 class="card-list-title" > SIGNATURE </h2>
          <h2 class="card-list-subtitle" lang="ko">{{ cafe.menu.signature.kor }}</h2>
          <h2 class="card-list-distance" >{{ cafe.menu.signature.eng}}</h2>
          
         
        </div>
       
      </ion-card>

      <ion-list >
          <ion-list-header class="drink" mode="md"> 
            Drink Menu
            <button ion-button icon-only item-end clear color="white" (click)="expandDrink()">
              <ion-icon [name]="drinkExpanded ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
            </button>  
          </ion-list-header>
          <expandable-list [expandHeight]="itemExpandHeight" [expanded]="drinkExpanded" [hidden]="!drinkExpanded" [mode]="'list'">
              <ion-item *ngFor="let drink of cafe.menu.drink" class="pop-in" >
                <span lang="ko">{{drink.kor}}</span>
                <!-- <span lang="en">{{drink.eng}}</span> -->
              </ion-item>
          </expandable-list>  

          <ion-list-header class="desert" mode="md">
              Desert Menu
              <button ion-button icon-only item-end clear color="white" (click)="expandDesert()">
                <ion-icon [name]="desertExpanded ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
              </button>  
            </ion-list-header>
            <expandable-list [expandHeight]="itemExpandHeight" [expanded]="desertExpanded" [hidden]="!desertExpanded" [mode]="'list'">
                <ion-item *ngFor="let desert of cafe.menu.desert" class="pop-in">
                    [ {{desert.kor}} ]
                  </ion-item>
            </expandable-list>  
          
      
        </ion-list>

</ion-content>
