<ion-header no-border> 
    <ion-toolbar mode="md">
        <ion-segment [(ngModel)]="icons" color="secondary" mode="md">
            <ion-segment-button value="camera" (click)="!show ? showContent() : null">
                <ion-icon name="cafe"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="bookmark" (click)="!show ? showContent() : null">
                <ion-icon name="bookmark"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
     
    <ng-content ></ng-content>
</ion-content>