content-drawer {
 
    width: 100%;
    height: 40%;
    position: absolute;
    z-index: 10 !important;
    box-shadow: none !important;

    .scroll-content{
        margin-top:0 !important;
    }
   
    
  
}