page-social-search {

    .searchbar-search-icon { 
        display:none; width:0; height:0; 
    }

    .searchbar-input {
        background-color: rgba(0,0,0,0) !important; 
        padding-left: 9px !important;
        box-shadow: none !important;
    }
    
    .searchList{
        margin-bottom: -1px;
    }

    
}
