page-tabs {

   .segment-button{
        height: 3.0rem !important;
        line-height: 3.0rem !important;
        color: white !important;
        border-color: white !important;
        background-color: rgba(0,0,0,0.3) !important;
    
   }
   .segment-activated{
    background-color: color($colors, orange) !important;
    
    }
}
