page-tabs {

    
//     .segment-button {
//         color: map-get($colors, lc-lightgray) !important;
//         border-color: map-get($colors, lc-white) !important;
//         font-family:-윤고딕310 !important;
//         font-weight:normal !important;
//         font-style:italic !important;
//     }
    

//    .segment-activated {
//         color: map-get($colors, lc-white) !important;
//         font-family: HelveticaNeueHv !important;
//         font-weight:bold !important;
//         font-style:italic !important;
//     }



    ion-segment{
        position: absolute;
        bottom: 4%;
        left: 20%;
        margin: auto;
        width:60%;
        
    }
    .segment-ios{
        
        .segment-button{
            
            color: color($colors, white) !important;
            border-color: color($colors, white) !important;
            background-color: rgba(0,0,0,0.5) !important;
           
            ion-icon{
               font-size: 2.5rem;
               margin-top: 0.3rem;
            }

            
        }
        :first-of-type{
            border-top-left-radius: 1.2rem !important;
            border-bottom-left-radius: 1.2rem !important;
        }

        :last-of-type{
            border-top-right-radius: 1.2rem !important;
            border-bottom-right-radius: 1.2rem !important;
        }

        .segment-activated{
            background-color: color($colors, lc-green) !important;
        }
    }

    
        
}
