<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border >

  <ion-navbar color="lc-green">
    <ion-title>PROFILE</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="myProfile ? navCtrl.push('ProfileSettingsPage') : console.log('tt')" ><ion-icon name="md-more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content parallax-header>

  <div class="header-image">
    <ion-item no-lines class="profile-header">
      <ion-row>
        <ion-avatar >
          <img src="assets/img/cafe.jpg"  alt="assets/img/cafe.jpg">
            <!-- <img src="{{(profile | async)?.imgProfile}}" class="avatar"/>   -->
        </ion-avatar> 
        <ion-col no-padding>
        
          <ion-row >
            <ion-col col-4 text-center>
              <h5>21</h5>
              <p no-padding no-margin>포스트</p>
            </ion-col>
            <ion-col col-4 text-center>
              <h5>114</h5>
              <p no-paddin no-margin>컬렉션</p>
            </ion-col>
            <ion-col col-4 text-center>
              <h5>119</h5>
              <p no-paddin no-margin>팔로잉</p>
            </ion-col>
            <ion-col text-center>
              <div *ngIf="!myProfile" >
              <button mode="ios" ion-button class="follow-button" *ngIf="!following"    (click)="follow()">Follow</button>
              <button mode="ios" ion-button class="follow-button-active" icon-left *ngIf="following"    (click)="follow()">
                <ion-icon name="checkmark"></ion-icon>
                Following
              </button>
              </div>
              <div *ngIf="myProfile" mode="ios">
                <button mode="ios" ion-button class="edit-button" [navPush]="'ProfileUpdatePage'" [navParams]="user" >프로필 수정</button>
                <button mode="ios" ion-button  [navPush]="'ProfileUpdatePage'" [navParams]="user" icon-only color="white"><ion-icon name="lc-grid-edit"></ion-icon></button>
              </div>
            </ion-col>
          </ion-row>   
        </ion-col>
      </ion-row>
    </ion-item>
    
      <div padding class="profile-middle">
        <h5 no-margin no-padding><b>test</b></h5>
        <p no-padding no-margin class="info">testsetsete</p>
        <!--<p no-padding no-margin color="blue2"><a href="#">{{(profile | async)?.facebook}}</a></p>-->
      </div>

    </div>
    
   

    <div class="main-content">
      <!--***********  Segement tab ***********-->
      <ion-segment mode="md" [(ngModel)]="segmentView" color="blue2">
        <ion-segment-button value="feed">
          피드
        </ion-segment-button>
        <ion-segment-button value="collection">
          컬렉션
        </ion-segment-button>
        <ion-segment-button value="favorite">
          즐겨찾기
        </ion-segment-button>
      </ion-segment>
    
      <!--***********  Segement one ***********-->
      <ion-grid no-padding *ngIf="segmentView==='feed'">
        <ion-row wrap color="gray">
          <ion-col col-4 *ngFor="let image of photos  ,let i = index  ">
              <!-- <div class="square-image" [ngStyle]="{'background-image': 'url(' + image + ')'}" (click)="openFullImage(i)" ></div>-->
              <div class="square-image" [ngStyle]="{'background-color': '#dedede'}" (click)="openFullImage(i)" ></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <!--***********    Segement two  ***********-->
      <ion-grid no-padding *ngIf="segmentView==='collection'">
          <ion-row wrap color="gray">
            <ion-col col-4 *ngFor="let image of photos  ,let i = index  ">
                <!-- <div class="square-image" [ngStyle]="{'background-image': 'url(' + image + ')'}" (click)="openFullImage(i)" ></div>-->
                <div class="square-image" [ngStyle]="{'background-color': '#dedede'}" (click)="openFullImage(i)" ></div>
            </ion-col>
          </ion-row>
      </ion-grid>
      
    
      <!--***********  Segment three  ***********-->
      <ion-grid no-padding *ngIf="segmentView==='favorite'">
          <ion-row wrap color="gray">
            <ion-col col-4 *ngFor="let image of photos  ,let i = index  ">
                <!-- <div class="square-image" [ngStyle]="{'background-image': 'url(' + image + ')'}" (click)="openFullImage(i)" ></div>-->
                <div class="square-image" [ngStyle]="{'background-color': '#dedede'}" (click)="openFullImage(i)" ></div>
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>
</ion-content>
