page-detail-profile {

    .follow-button {
        background: #fff; 
        border: 1px solid color($colors, lc-green); 
        color:  color($colors, lc-green);
        font-size: 13px; 
        border-radius: 3px;
        padding: 5px;
        font-weight: bold;
        width: 85%;
        
      }
        .follow-button-active {
        background:color($colors, lc-green); 
        border: 1px solid color($colors, lc-green); 
        color:  color($colors, white);
        font-size: 13px; 
        border-radius: 3px;
        padding: 5px;
        font-weight: bold;
        width: 85%;
        
      }

      .edit-button {
        background: #fff; 
        border: 1px solid color($colors, lc-green); 
        color:  color($colors, lc-green);
        font-size: 13px; 
        border-radius: 3px;
        padding: 5px;
        font-weight: bold;
        width: 70%;
        
      }
    

    .header-image{
        vertical-align: middle;

        .item-inner{
            padding-right: 0 !important;
            
            .label{
                margin-right: 0;
            }
        }
        
        ion-avatar {      
            color:#fff;
        }
        ion-avatar img {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            object-fit: cover;
            // border: 1px solid #ccc;
        }   

        ion-row{
            align-items: center;
        }

        h5{
            color: black;
            font-size: 1.8rem;
            margin-bottom: 0px;
            font-weight: 300;
            font-style: italic;
        }

        .profile-header{
           
            ion-label{
                margin-top: 0;
            }

            ion-icon{
                font-size: 2.3rem;
            }
            p{
                font-weight: 300;
                color: black;
                font-size: 1.2rem;
                font-style: italic;
            }

            .button-inner{
                font-weight: 300;
                font-style: italic;
            }
           
        }

        .profile-middle{
            padding-top: 0;
            padding-bottom: 0;
            p{
                //font-family: HelveticaNeue-LightItalic;
                font-style: italic;
            }
        }
        


    }


    .main-content{
        width: 100%;

        .segment-md{
            background-color: white;

            .segment-button{
                
                font-style: italic;
                
            }
    
            .segment-activated{
                font-weight: bold;
            }
        }

        ion-col{
            padding: 1px !important;
          }

          .square-image{
 
            padding:1px;
            float:left;
            position: relative;
            width: 100%;
            padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
            background-position:center center;
            background-repeat:no-repeat;
            background-size:cover; 
        }
    
        
    }
   
    
     
        
}
