page-cafe-list {
   

    ion-card  {
        position: relative;
        text-align: center;
        width: 100% !important;
        border-radius: 0px !important;
    }
    // ************ list view ************//  
        ion-card.card-list {
            width: 100%;
            margin: 0px 0px .5rem 0px !important;
            box-shadow: none !important;
            //border-bottom: 1px solid #333333;         
        }

        .card-list .card-list-like {
            font-size: 5vw;
            background-color: transparent !important;
            color: white;
            box-shadow: none !important;
          
        }
    
        .card-list-bg:before {
            content: ' ';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-size: cover;
            background-position: center;
            background-color: rgba(0, 0, 0, 0.4);
        }
        
        .card-list-bg {
            position: relative;
            width: 100%;
            padding-bottom:100%;
            // background: url(img/1.jpg) no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-position: center;
            background-size: cover;
        }

        .card-list-bg .card-list-title {
            
            // text-transform:uppercase;
            font-weight: bold;
            font-size: 6vw;
            font-style: italic;
            color: #FFFFFF;
            position: absolute;
            top: 40%;
            width: 100%;
            text-align: center;
        }
        .card-list-bg .card-list-address {
            font-weight: 200;
            text-transform:none !important;
            font-size: 4vw;
            font-style: italic;
            position: absolute;
            top: 48%;
            width: 100%;
            color: #FFFFFF;
            text-align: center;
        }
        .card-list-bg .card-list-distance {
            font-weight: 200;
            text-transform:none !important;
            font-size: 4vw;
            font-style: italic;
            position: absolute;
            top: 54%;
            width: 100%;
            color: #FFFFFF;
            text-align: center;
        }
        

        

    //************  grid view ************//
        ion-card.card-grid  {
            height: 140px !important;
            //min-height: 150vh !important;
            //max-height: 160vh !important;
            margin: 0px 0px 0px 0px !important;
        }
        ion-card.card-grid  .card-grid-bg{
            height: 140px; 
        }
        .card-grid-bg:before {
            content: ' ';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-size: cover;
            background-position: center;
        }
        .card-grid-bg {
            position: relative;
            height: 140px;
            // background: url(img/1.jpg) no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-size: cover;
            background-position: center;
        }
        .card-grid-bg .card-grid-title {
            width: 100px;
            padding:0px 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; // This is where the magic happens
            font-size: 24px;
            font-weight: normal;
            color: #FFFFFF;
            position: absolute;
            top: 39%;
            text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            width: 100%;
            text-align: center;
        }


        ion-fab{
            .fab-close-active{
                background-color: color($colors, lc-green);
            }
        }
  

    
}
