<!--
  Generated template for the MapsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="maps-header">

  <ion-navbar >
    <ion-searchbar no-padding no-margin no-lines [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="{{ autocomplete.lastInput }}"></ion-searchbar>
  </ion-navbar>

  <ion-list [hidden]="autocompleteItems.length == 0" class="searchList">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{item.structured_formatting.main_text}} <small>{{item.structured_formatting.secondary_text.replace('대한민국', '')}}</small>
    </ion-item>
  </ion-list>

</ion-header>


<ion-content>
  <div id="map">
    <button item-end color="white" ion-button icon-only (click)="getCurrentLocation()" ><ion-icon name="md-locate"></ion-icon></button>
  </div>
  


  

</ion-content>

<content-drawer [options]="drawerOptions">
   
    <ion-list margin-bottom>
      <ion-item tappable mode="ios"  *ngFor="let cafe of cafes" (click)="moveToCafe(cafe)">
        <ion-thumbnail item-left (click)="openCafeDetailPage(cafe); $event.stopPropagation()">
          <img src="{{ cafe.images.background }}">
        </ion-thumbnail>
        <h2>{{ cafe.cafeName }}</h2>
        <p> {{ cafe.subtitle }}</p>
        <button ion-button icon-only clear color="lc-gray" item-right (click)="addToFav(cafe); $event.stopPropagation()">
            <ion-icon *ngIf="!cafe.favorite" name="heart-outline" ></ion-icon>
            <ion-icon class="pop-in" *ngIf="cafe.favorite" name="heart"></ion-icon>
        </button>
      </ion-item>
     
    </ion-list>
  
  </content-drawer>


