page-social-create {

   
    ion-avatar{
       
        img{
            margin-top: 33%;
            object-fit: cover;
        }
    }
    ion-thumbnail {
        img {
            object-fit: cover;
           
        }
    }

    ion-textarea{
        .text-input{
            margin-left: 0;
        }
        
    }

    ion-list{
        ion-input{
            padding-left: 1rem;
        }
    }

    .cafe-search{
        ion-icon{
            padding-left: 2rem;
            margin-right: 0 !important;
        }
    }
    .search-list{
        ion-label{
            margin: 0;
        }

    }

    
   
    
}
