<!--
  Generated template for the SocialCommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <ion-title>COMMENT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="feed">
 
  <ion-card class="comment-writer" >
      <ion-item >
        <ion-avatar item-left >
          <img [src]="feed.writer.photo">
        </ion-avatar>
        <h2 >{{ feed.writer.username }}</h2>
        <!-- <p (click)="openCafeDetailPage(feed.cafeId)">{{ feed.cafeName }}</p> -->
      
        
        <ion-icon style="padding-right:1rem; padding-left:1rem;" item-end name="md-more" (click)="presentActionSheet(feed)"></ion-icon>
      </ion-item>
      
      <ion-card-content>
        <ion-card-title no-padding>
          {{feed.title}}
        </ion-card-title>

        <div class="description" text-wrap >
          <!-- <span class="writer" >{{ feed.writer.username }}</span>  -->
          <span (click)="showMore($event, feed)">
            {{ feed.description }}
          </span>
          
        </div>

        <div class="comment-bottom">
          <span style="padding-top: 0.5rem;">{{ feed.date.seconds*1000 | fromNow }}</span>
        </div>
      </ion-card-content>
  </ion-card>

<ion-list>
  <ion-item text-wrap no-lines *ngFor="let comment of feed.comments">
    <ion-row *ngIf="comment.writer">
      <ion-col no-padding col-2  >
        <ion-avatar item-start>
          <img [src]="comment.writer.photo">
        </ion-avatar>
      </ion-col >
        <ion-col  no-padding col-10 align-self-center>
        <span class="writer">{{ comment.writer.username }}</span>
        <span> {{ comment.description }} </span>
        
        <div class="comment-bottom">
          <span>{{ comment.date.seconds*1000 | fromNow }}</span> <span>답글남기기</span> <span>Thx</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-list no-margin class="child" *ngIf="childComments.get(comment.commentId)">
      <ion-item text-wrap no-lines *ngFor="let childComment of childComments.get(comment.commentId)">
        <ion-row *ngIf="childComment.writer">
          <ion-col no-padding col-2 >
            <ion-avatar item-start >
              <img [src]="childComment.writer.photo">
            </ion-avatar>
          </ion-col>
            <ion-col  no-padding col-10 align-self-center>
            <span class="writer" >{{ childComment.writer.username }}</span>
            <span> {{ childComment.description }} </span>
            
            <div class="comment-bottom">
              <span>{{ childComment.date.seconds*1000 | fromNow }}</span> <span>답글남기기</span> <span>Thx</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-item>
</ion-list>
  <!-- <ion-card >
    <div *ngIf="feed.writer">
      <ion-item class="comment-header">
        <ion-avatar item-left >
          <img [src]="feed.writer.photo">
        </ion-avatar>
        <h2 >{{ feed.writer.username }}</h2>
        <p (click)="openCafeDetailPage(feed.cafeId)">{{ feed.cafeName }}</p>
      
        
        <ion-icon style="padding-right:1rem; padding-left:1rem;" item-end name="md-more" (click)="presentActionSheet(feed)"></ion-icon>
      </ion-item>
      
      <ion-card-content>
        <div class="description" text-wrap *ngIf="feed.writer">
          <span class="writer" >{{ feed.writer.username }}</span> 
          <span (click)="showMore($event, feed)">
            {{ feed.description }}
          </span>
         
        </div>
       

      </ion-card-content>
    </div>
  </ion-card> -->




</ion-content>


<ion-footer class="commentInput" >
  <ion-toolbar no-padding>
    <ion-row no-padding align-items-end>
      <ion-col col-10 no-padding>
        <ion-textarea no-margin no-padding autosize placeholder="Enter a description" [(ngModel)]="comment">
       
          </ion-textarea>
        </ion-col>   
        <ion-col col-2 no-padding>
            <button ion-button clear [disabled]="comment.trim().length == 0" (click)="writeComment(null)"> 작성 </button>
          

        </ion-col>
           

    </ion-row>
    
    
  </ion-toolbar>
</ion-footer>