@font-face{
  font-family:HelveticaNeueHv;
  src:url(../assets/fonts/helvetica/HelveticaNeueHv.ttf) format('truetype');
  font-weight:bold;
  font-style:normal;
}

// @font-face{
//   font-family:-윤고딕310;
//   src:url(../assets/fonts/yoongothic/윤고딕310.ttf) format('truetype');
//   font-style:normal;
// }