ion-icon {
    &[class*="lc-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }

  
    
    
    &[class*="lc-feed"] {mask-image: url(../assets/fonts/flaticon/feed.svg);}
    &[class*="lc-filter"] {mask-image: url(../assets/fonts/flaticon/filter.svg);}
    &[class*="lc-heart"] {mask-image: url(../assets/fonts/flaticon/heart.svg);}
    &[class*="lc-heart-outline"] {mask-image: url(../assets/fonts/flaticon/heart-outline.svg);}
    &[class*="lc-location"] {mask-image: url(../assets/fonts/flaticon/location.svg);}
    &[class*="lc-location-outline"] {mask-image: url(../assets/fonts/flaticon/location-outline.svg);}
    &[class*="lc-menu"] {mask-image: url(../assets/fonts/flaticon/menu.svg);}
    &[class*="lc-notifications"] {mask-image: url(../assets/fonts/flaticon/notifications.svg);}
    &[class*="lc-grid"] {mask-image: url(../assets/fonts/flaticon/grid.svg);}
    &[class*="lc-list"] {mask-image: url(../assets/fonts/flaticon/list.svg);}
    &[class*="lc-facebook"] {mask-image: url(../assets/fonts/flaticon/facebook.svg);}
    &[class*="lc-kakaotalk"] {mask-image: url(../assets/fonts/flaticon/kakaotalk.svg);}
    &[class*="lc-add"] {mask-image: url(../assets/fonts/flaticon/add.svg);}
    &[class*="lc-reply"] {mask-image: url(../assets/fonts/flaticon/reply.svg);}
    &[class*="lc-collection"] {mask-image: url(../assets/fonts/flaticon/collection.svg);}
    &[class*="lc-refresh"] {mask-image: url(../assets/fonts/flaticon/refresh.svg);}
    &[class*="lc-grid-edit"] {mask-image: url(../assets/fonts/flaticon/grid-edit.svg);}





    // &[class*="color-"] {
    //   background-size: contain;
    //   background-position: 50% 50%;
    //   background-repeat: no-repeat;
      
    //   width: 1em;
    //   height: 1em;
    // }

    // &[class*="color-line-1"] {background-image: url(../assets/fonts/flaticon/metro-Line-1.svg);}
    // &[class*="color-line-2"] {background-image: url(../assets/fonts/flaticon/metro-Line-2.svg);}
    // &[class*="color-line-3"] {background-image: url(../assets/fonts/flaticon/metro-Line-3.svg);}
    // &[class*="color-line-4"] {background-image: url(../assets/fonts/flaticon/metro-Line-4.svg);}
    // &[class*="color-line-5"] {background-image: url(../assets/fonts/flaticon/metro-Line-5.svg);}
    // &[class*="color-line-6"] {background-image: url(../assets/fonts/flaticon/metro-Line-6.svg);}
    // &[class*="color-line-7"] {background-image: url(../assets/fonts/flaticon/metro-Line-7.svg);}
    // &[class*="color-line-8"] {background-image: url(../assets/fonts/flaticon/metro-Line-8.svg);}
    // &[class*="color-line-9"] {background-image: url(../assets/fonts/flaticon/metro-Line-9.svg);}
    
    
}