// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #202020;
$background-color:  #ffffff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:   (
    base: #202020,
    contrast: #ffffff
  ),

  lc-green:   (
    base: #3c4240,
    contrast: #ffffff
  ),

  lc-orange:   (
    base: #b28b5e,
    contrast: #ffffff
  ),

  lc-black: (
    base: #202020,
    contrast: #ffffff
  ),

  lc-gray: (
    base: #d9d9d9,
    contrast: #ffffff
  ),

  lc-fab: (
    base: rgba(255,255,255,0.3),
    contrast: #ffffff
  ),

  facebook:(
    base: #3b5998,
    contrast: #ffffff
  ),

  kakao:(
    base: #fef01b,
    contrast: #202020
  ),

  clear: (
    base: rgba(0,0,0,0),
    contrast: #ffffff
  ),

  confirm:  #32db64,
  white: #fff,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
  
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// $segment-button-ios-border-radius : 1.1rem !important;
// $segment-button-ios-font-size : 1.4rem !important;
// $segment-button-ios-background-color : color($colors, lc-black);
// $segment-button-ios-background-color-activated : color($colors, lc-green);
// $segment-button-ios-transition-activated : 1000ms;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$label-md-text-color-focused: false;
// $fab-list-button-background-color : color($colors,lc-white-40);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


$toolbar-background: white;
$text-input-ios-show-focus-highlight:      false;
$text-input-ios-show-valid-highlight:      false;
$text-input-ios-show-invalid-highlight:    false;

$text-input-md-show-focus-highlight:      false;
$text-input-md-show-valid-highlight:      false;
$text-input-md-show-invalid-highlight:    false;

$text-input-wp-show-focus-highlight:      false;
$text-input-wp-show-valid-highlight:      false;
$text-input-wp-show-invalid-highlight:    false;

$font-family-md-base: 'Noto Sans KR';
$font-family-ios-base: 'Noto Sans KR';

// $background-color: transparent;