<ion-menu [content]="content" >

  <ion-header *ngIf="auth.getUserData()" menuClose (click)="nav.push('ProfilePage')">      
    <div class="menu-header"> 
    <img class="user-avatar round" src = "https://pbs.twimg.com/profile_images/834457277830541312/bYMCvtHD.jpg"/>
    <p class="name">{{ auth.getUserData().username }}</p>
    <p class="email">description</p>
  </div>
  
  </ion-header>

    <ion-content no-margin>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-nav #content [root]="rootPage" ></ion-nav>