// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '../theme/animations';

//FLATICON//
@import '../theme/locaficon';
//HELVETICA//
@import '../theme/locaf-fonts';

//hide scrollbar
::-webkit-scrollbar{ display:none; }

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: center;
}

.list-box{
    margin-top:190px;
  }

  .menu-header:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.menu-header {
    position: relative;
    width: 100%;
    padding-bottom:66%;
    background-image: url('../assets/img/cafe.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.name {
    position: absolute;
    color: white;
    font-weight: 400;
    font-size:18px;
    
    padding-left:15px;
    top:60%;
}
.email {
    position: absolute;
    color: white;
    padding-left:15px;
    top:75%;
    margin-bottom: 5px;
}

.user-avatar {
    position: absolute;
    padding: .5em;
    height: 12vh;
    margin-top: 15px;
    // border: 3px solid #fff;
}
.round {
    border-radius: 50%;
}


h3, .label,
{
color: #616161;
font-weight: 400;
}

.modal-login {
    
    .modal-wrapper {
        width:75%;
        height: 45%;
        left: 12.5%;
        top:15%;
        border-radius: 8px;
        position: absolute;
        overflow: hidden;
    }
    ion-backdrop {
        visibility: visible;
    }
}
.modal-register {
    .modal-wrapper {
        width:75%;
        height:60%;
        left: 12.5%;
        top:10% ;
        border-radius: 8px;
        position: absolute;
        overflow: hidden;
    }
    ion-backdrop {
        visibility: visible;
}
}

