<ion-header>

  <ion-navbar  transparent  [class.show-background]="showToolbar" >
    <ion-title [hidden]="!showToolbar">{{ cafe.cafeName }}</ion-title>

    <ion-buttons end>
      <button ion-button [navPush]="'CafeMenuPage'" [navParams]="cafe">MENU</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content  no-padding  class="content" (ionScroll)="onScroll($event)" [class.transition]="transition" >

  <!--*********** Image header  ***********-->
  <ion-card tappable no-padding no-margin class="card-list ">
    
    <div class="card-list-bg" [ngStyle]="{'background-image': 'url(' + cafe.images.background+ ')'}">
      <h2 class="card-list-title" > {{cafe.cafeName}}</h2>
      <h2 class="card-list-address">{{ cafe.address }}</h2>
      <h2 class="card-list-distance">{{ cafe.distance }}</h2>
      
      <!-- <h2 class="card-list-like"></ion-icon></h2> -->
    </div>
    <ion-fab right middle>
        <button ion-fab class="card-list-like" *ngIf="!cafe.favorite" (click)="addToFav(cafe);  $event.stopPropagation()"> <ion-icon name="lc-heart-outline"></ion-icon></button>
        <button ion-fab class="card-list-like pop-in" *ngIf="cafe.favorite" (click)="addToFav(cafe);  $event.stopPropagation()"> <ion-icon name="lc-heart"></ion-icon></button>
    </ion-fab>
  </ion-card>
  <!--***********  Description ***********-->
  <!-- <ion-card>
      <ion-card-header no-margin>
        Description
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-2 no-padding text-left>
              <h4>Rating:</h4>
          </ion-col>
          <ion-col col-10 no-padding text-left>
              <rating [ngModel]="cafe.rate"
                    readOnly="true" 
                    max="5" 
                    emptyStarIconName="star-outline" 
                    halfStarIconName="star-half" 
                    starIconName="star"
                    nullable="false"
                    (ngModelChange)="onModelChange($event)"> 
              </rating>  
          </ion-col>
        </ion-row>
        
        <div [innerHTML]="cafe.description" ></div>

      </ion-card-content>
    </ion-card> -->



    <!--*********** Contact  ***********-->
    <ion-card >      
      
        <ion-item>
          <ion-label stacked color="lc-gray">Address</ion-label>
          <ion-input readonly value= "{{cafe.address}}"> </ion-input>
          <button ion-button item-end clear (click)="expandItem()">Map</button>  
        </ion-item>
        <expandable-list [expandHeight]="itemExpandHeight" [expanded]="expanded" [mode] ="'map'">
          <img src="https://openapi.naver.com/v1/map/staticmap.bin?clientId=EkxtTIPAsbnSdv7HhO8N&url=file:///&crs=EPSG:4326&center={{ cafe.coords.longitude }}, {{ cafe.coords.latitude }}&level=14&w={{ platform.width() }}&h={{ platform.height() / 3 }}&baselayer=default&markers={{ cafe.coords.longitude }}, {{ cafe.coords.latitude }}" />
        </expandable-list>  
        <ion-item >
          <ion-label stacked color="lc-gray">Near Station</ion-label>
          <ion-input readonly value = "{{cafe.station.name}}"></ion-input>
          <!-- <ion-icon item-end name="{{ cafe.station.line }}"></ion-icon> -->
          <img class="station" item-end [src]="iconPath">
        </ion-item>
        <ion-item>
          <ion-label stacked color="lc-gray">Call</ion-label>
          <ion-input readonly value = "{{cafe.phone}}"> </ion-input> 
          <ion-icon item-end name="call"></ion-icon>
        </ion-item>

        <ion-row >
            <ion-col no-padding col-6>
              <ion-item no-lines>
                <ion-label stacked color="lc-gray">Open Hours</ion-label>
                <ion-input readonly value="{{ cafe.time.open }}:00 ~ {{cafe.time.close}}:00" > </ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding col-6>
              <ion-item no-lines>
                  <ion-label stacked color="lc-gray">Break</ion-label>
                  <ion-input readonly value="{{ cafe.time.break }}" > </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>


       
        <!-- <ion-item >
          <ion-icon name="ios-map-outline" item-left  color="darkGray" ></ion-icon>
          Gps: {{cafe.coords.latitude}},{{cafe.coords.longitude}} 
        </ion-item> -->
        <!-- <ion-item >
          <ion-icon name="ios-navigate-outline" item-left  color="darkGray" ></ion-icon>
            {{(item | async)?.location}} 
        </ion-item> -->
        
      
    
  </ion-card>
<!--     -->
        <!--***********  Thumbnail images ***********-->
      <ion-list *ngIf="feeds.length > 0 " class="photo">
          <ion-list-header >
            PHOTOS
            <button ion-button icon-only item-end clear (click)="presentActionSheet()">
                <ion-icon  name="lc-add"></ion-icon>
            </button>  
          </ion-list-header>
          <ion-grid no-padding >
                <ion-row  wrap color="gray">
                  <ion-col  tappable col-4 *ngFor="let feed of feeds  ,let i = index" >
                    
                    <div class="square-image" [ngStyle]="{'background-image': 'url(' + feed.thumbnail + ')'}" (click)="openFullImage(i)" ></div>
                  <!-- <img class="square-image"  [src]="image" /> -->
                  </ion-col>
                </ion-row>
          </ion-grid>
      </ion-list>


</ion-content>