page-cafe-detail {
  .content{
    background-color: #fff;
  }
  .scroll-content{
    margin-top: 0 !important;
    padding-top: 44px;
  }

  ion-navbar{
   
    height: 44px;
  }

  ion-title{
    font-family: HelveticaNeue-BlackItalic;
  }
  
  ion-toolbar{
    
    height:44px;
  }
  scroll-content {
      padding-top: $toolbar-ios-height + 20px; // extra padding for the ios statusbar
      padding-bottom: $toolbar-ios-height; // Padding for the Tabbbar (only needed if tabbar is used)
  }

  .toolbar-title {
      color:#FFFFFF !important;
  }

  ion-navbar{
    transition: all .5s;
    
    .back-button,.bar-button{
      //text-shadow: 0 0 5px #000000;
      color: #fff;
    }
  }
  .header-md::after{
    background-image: none;
  }

 
  ion-card{
      margin: 0px 0px 0px 0px !important;
      box-shadow: none !important;
      width: 100% !important;
      position: relative;
      border-radius: 0px !important;
  }
  .card-list .card-list-like {
    font-size: 5vw;
    background-color: transparent !important;
    color: rgba(255,255,255,0.5) !important;
    box-shadow: none !important;
    
  }

  .card-list-bg:before {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.4);
  }

  .card-list-bg {
      position: relative;
      width: 100%;
      padding-bottom:100%;
      // background: url(img/1.jpg) no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-position: center;
      background-size: cover;
  }

  .card-list-bg .card-list-title {
      
      font-family: HelveticaNeue-BlackItalic !important;
      font-size: 2rem;
      font-style: italic;
      color: #FFFFFF;
      position: absolute;
      top: 40vw;
      width: 100vw;
      text-align: center;
  }
  .card-list-bg .card-list-subtitle {
      font-family:-윤고딕310 !important;
      text-transform:none !important;
      font-size: 4vw;
      font-style: italic;
      position: absolute;
      top: 50vw;
      width: 100vw;
      color: #FFFFFF;
      text-align: center;
  }
  .card-list-bg .card-list-distance {
      font-family:-윤고딕310 !important;
      text-transform:none !important;
      font-size: 4vw;
      font-style: italic;
      position: absolute;
      top: 60vw;
      width: 100vw;
      color: #FFFFFF;
      text-align: center;
  }
  
  .indent p{
    text-indent: 20px;
  }


  //********** Star rating  ************//
  ul {
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 0px;

        &.rating li {
          padding: 5px 1px !important;
          background: none;
          color: #ffb400;

          ion-icon {
            font-size: 20px;
          }
        }
    }

  //************ Fading header  **********//
  .show-background{
    border-style: none;
    background : color($colors, lc-green)
  }
  .transition{
    transition: background-size .1s ease-in;
  }

 ion-col{
   padding: 1px !important;
 }

 .item-block .item-inner{
   border-bottom: 1px solid #dedede !important;
}



ion-list{
  background-color: #fff;
}

ion-item{
 
  .button{
    font-family: HelveticaNeue-BlackItalic;
    color: color($colors, lc-gray);
  }

  ion-label{
    font-family: HelveticaNeue-lightItalic;
    

  }
}

.list-header{
  ion-label{
    font-family: HelveticaNeue-BlackItalic;
    color: black;
  }
  padding-right: 0.5rem;
  margin-bottom: 0px;
  
}

  .square-image{
 
    padding:1px;
    float:left;
    position: relative;
    width: 100%;
    padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; 
  }

  
}
