<ion-header>

  <ion-navbar  transparent  [class.show-background]="showToolbar" >
    <ion-title color="light" [hidden]="!showToolbar">{{ cafe.cafeName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  no-padding  class="content" (ionScroll)="onScroll($event)" [class.transition]="transition" >

  <!--*********** Image header  ***********-->
  <div class="detail-header" [ngStyle]="{'background-image': 'url(' + cafe.images.imgBig + ')'}">
    <h2 class="detail-name "> {{cafe.cafeName}}</h2>
    <div class="detail-price ">{{cafe.phone}}</div>
    <ion-fab  bottom right edge class="hello pop-in">
    <button ion-fab *ngIf="!favorite"  color="amber" (click)="addToFav()"><ion-icon name="ios-heart-outline"></ion-icon></button>
    <button ion-fab *ngIf="favorite"  color="amber" (click)="addToFav()"><ion-icon name="ios-heart"></ion-icon></button>
    </ion-fab>
  </div>

  <!--***********  Description ***********-->
  <ion-card>
      <ion-card-header no-margin>
        Description
      </ion-card-header>
      <ion-card-content>
        <!-- <ion-row>
          <ion-col col-2 no-padding text-left>
              <h4>Rating:</h4>
          </ion-col>
          <ion-col col-10 no-padding text-left>
              <rating [ngModel]="cafe.rate"
                    readOnly="true" 
                    max="5" 
                    emptyStarIconName="star-outline" 
                    halfStarIconName="star-half" 
                    starIconName="star"
                    nullable="false"
                    (ngModelChange)="onModelChange($event)"> 
              </rating>  
          </ion-col>
        </ion-row> -->
        
        <div [innerHTML]="cafe.description" ></div>

      </ion-card-content>
    </ion-card>
    
    <!--*********** Static map  ***********-->
    <ion-card class="wave">
      <ion-card-header>
        Map
      </ion-card-header>
      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{cafe.location.latitude}},{{cafe.location.longitude}}&zoom=15&scale=2&size=300x150&maptype=roadmap&format=png&visual_refresh=true&markers=color:0xff0000%7Clabel:%7C{{cafe.location.latitude}},{{cafe.location.longitude}}"/>
      <ion-row>
        <ion-col center text-center>
          <input #dummy style="display: none" type="text" >
          <!-- value="{{(item | async)?.categoryId}}" -->
          <button ion-button icon-left clear  (click)="showMap(dummy.value)">
            <div>Explore </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
      <!--*********** Contact  ***********-->
      <ion-card>
          <div class="info">
            <ion-list no-lines>
              <ion-item >
                <ion-icon name="ios-pin-outline" item-left  color="darkGray" ></ion-icon>
                  {{cafe.address}}         
              </ion-item>
                <ion-item>
                  <ion-icon name="ios-call-outline" item-left  color="darkGray" ></ion-icon>
                    {{cafe.phone}} 
              </ion-item>
                <ion-item >
                <ion-icon name="ios-globe-outline" item-left  color="darkGray" ></ion-icon>
                  {{cafe.web}} 
              </ion-item>
              <ion-item >
                <ion-icon name="ios-map-outline" item-left  color="darkGray" ></ion-icon>
                  Gps: {{cafe.location.latitude}},{{cafe.location.longitude}} 
              </ion-item>
              <!-- <ion-item >
                <ion-icon name="ios-navigate-outline" item-left  color="darkGray" ></ion-icon>
                  {{(item | async)?.location}} 
              </ion-item> -->
              <ion-item >
                <ion-icon name="ios-pricetag-outline" item-left  color="darkGray" ></ion-icon>
                  {{cafe.type}}  
              </ion-item>
            </ion-list>
          </div>
      </ion-card>
    <!--     -->
      

        <!--***********  Thumbnail images ***********-->
      <ion-card *ngIf="cafe.images.imgGallery?.length > 0 ">
          <ion-card-header>
            Photos
          </ion-card-header>
          <ion-grid no-padding >
                <ion-row  wrap color="gray">
                  <ion-col  tappable col-4 *ngFor="let image of cafe.images.imgGallery  ,let i = index" >
                    
                    <div class="square-image" [ngStyle]="{'background-image': 'url(' + image + ')'}" (click)="openFullImage(i)" ></div>
                  <!-- <img class="square-image"  [src]="image" /> -->
                  </ion-col>
                </ion-row>
          </ion-grid>
      </ion-card>


</ion-content>