<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon name="lc-hamburger"></ion-icon></button>
    </ion-buttons>
    <ion-title>
      <ion-buttons center (click)="openCafeMapPage()">
        <button ion-button><ion-icon name="navigate"></ion-icon>&nbsp;&nbsp;{{ currentLocation }}</button>
      </ion-buttons>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="lc-search"></ion-icon></button>
      <button ion-button icon-only (click)="getCurrentLocation()"><ion-icon name="lc-placeholder"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content   shrink-header  (ionScroll)="closeFabList()">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>



  <ion-card tappable no-padding no-margin class="card-list " *ngFor="let cafe of cafes" >
    <div class="card-list-bg" [ngStyle]="{'background-image': 'url(' + cafe.images.background+ ')'}" (click)="openCafeDetailPage(cafes[3])">
      <h2 class="card-list-title" > {{cafe.cafeName}}</h2>
      <h2 class="card-list-subtitle">{{ cafe.subtitle }}</h2>
     
      <!-- <h2 class="card-list-like"></ion-icon></h2> -->
    </div>
    <ion-fab right middle >
        <button ion-fab class="card-list-like" *ngIf="!cafe.favorite" (click)="addToFav(cafe)"> <ion-icon name="lc-heart-outline"></ion-icon></button>
        <button ion-fab class="card-list-like" *ngIf="cafe.favorite" (click)="addToFav(cafe)"> <ion-icon name="lc-heart"></ion-icon></button>
    </ion-fab>
  </ion-card>



  <ion-fab bottom right #fab style="bottom: 10%;" [hideFabOnscroll]='content' >
      <button ion-fab color="lc-green"> <ion-icon name="ios-funnel"></ion-icon></button>
      <!-- <ion-fab-list side="top">
          <button ion-fab>빈티지</button>
          <button ion-fab>미니멀</button>
          <button ion-fab>에클레틱</button>
          <button ion-fab>모던</button>
        </ion-fab-list> -->

        <ion-fab-list side="top"  >
            <button ion-fab (click)="checkFilter(filter_1)" [ngStyle]="{'background-color': filter_1.color}"><ion-icon name="lc-smoking" color="white"></ion-icon></button>
            <button ion-fab (click)="checkFilter(filter_2)" [ngStyle]="{'background-color': filter_2.color}"><ion-icon name="lc-parking2" color="white"></ion-icon></button>
            <button ion-fab (click)="checkFilter(filter_3)" [ngStyle]="{'background-color': filter_3.color}"><ion-icon name="lc-wifi" color="white"></ion-icon></button>
            <button ion-fab (click)="checkFilter(filter_4)" [ngStyle]="{'background-color': filter_4.color}"><ion-icon name="lc-open" color="white"></ion-icon></button>
          </ion-fab-list>
    </ion-fab>
</ion-content>